{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <h1>Burger Home Page</h1>


    {#this will show the login link if user is not logged in#}
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>Welcome stranger,  <a href="{{ path('login') }}" >Login</a> </p>
    {% endif %}
    {#welcomes user if user is logged in#}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>Welcome,  {{ app.user.username }}</p>
    {% endif %}

    <ul>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="{{ path('logout') }}" >Logout</a></li>

        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('admin_crud') }}" >CRUD</a></li>
        {% endif %}

    </ul>
{% endblock %}
