{% extends 'base.html.twig' %}

{% block title %}Review index{% endblock %}

{% block body %}

    <h1>Review index</h1>
    <table>
        <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Id</th>
                {% endif %}
                <th>Burger</th>
                <th>Summary</th>
                <th>Date</th>
                <th>Shop</th>
                <th>Price</th>
                <th>Stars</th>
                <th>Public</th>
                <th>Reviewed By</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Actions</th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                <td>{{ review.id }}</td>
                {% endif %}
                <td>{{ review.burger.name }}</td>
                <td>{{ review.summary }}</td>
                <td>{{ review.date ? review.date|date('Y-m-d') : '' }}</td>
                <td>{{ review.shop }}</td>
                <td>&euro; {{ review.price }}</td>
                <td>{{ review.stars }}/5</td>
                <td>{{ review.public ? 'Yes' : 'No' }}</td>
                <td>{{ review.user.username }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('review_show', {'id': review.id}) }}">show</a>
                    <a href="{{ path('review_edit', {'id': review.id}) }}">edit</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('review_new') }}">Create new</a>

{% endblock %}