<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet"
                  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
                  integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
            <link rel="stylesheet" href="/css/font-awesome.css">
            <link rel="stylesheet" href="/css/styles.css">
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        {% endblock %}
    </head>
        <body>
        <nav class="navbar navbar-expand-lg navbar-dark navbar-bg mb-5">
            <a style="margin-left: 75px;" class="navbar-brand space-brand" href="{{ url('default') }}">
                Best Burgers
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a style="color: #fff;" class="nav-link" href="{{ url('burger_con_index') }}">
                            Burgers!
                        </a>
                    </li>

                    <li class="nav-item">
                        <a style="color: #fff;" class="nav-link" href="{{ url('review_index') }}">
                            Reviews
                        </a>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-items">
                        <a style="color: #fff;" class="nav-link" href="{{ url('user_index') }}">
                            <u><strong>Users</strong></u>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-items">
                        <a style="color: #fff;" class="nav-link" href="{{ url('login') }}">
                            Sign-In
                        </a>
                    </li>
                    <li class="nav-items">
                        <a style="color: #fff;" class="nav-link" href="{{ url('logout') }}">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% block javascripts %}

            <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
                    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
                                                                                                                                        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="<script>
            $('.dropdown-toggle').dropdown();
             </script>

        {% endblock %}

    </body>
</html>
