{% extends 'base.html.twig' %}

{% block title %}Burger List{% endblock %}

{% block body %}

    <h1>Burger List</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Summary</th>
                <th>Price</th>
                <th>Description</th>
                <th>Ingredients</th>
                <th>Photo</th>
                <th>Public</th>
                <th>Creator</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>


        {% for burger in burgers %}
            <tr>
                <td>{{ burger.id }}</td>
                <td>{{ burger.name }}</td>
                <td>{{ burger.summary }}</td>
                <td>&euro; {{ burger.price }}</td>
                <td>{{ burger.description }}</td>
                <td>{{ burger.ingredients }}</td>


                <td><img src="/images/{{ burger.photo }}" width="200" height="150" alt={{ burger.photo }}  /></td>



                <td>{{ burger.public ? 'Yes' : 'No' }}</td>
                <td>{{ burger.user.username }}</td>
                <td>
                    <a href="{{ path('burger_con_show', {'id': burger.id}) }}">show</a>
                    <a href="{{ path('burger_con_edit', {'id': burger.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('burger_con_new') }}">Create new</a>

{% endblock %}