{% extends 'base.html.twig' %}

{% block title %}Burger{% endblock %}

{% block body %}

    <h1>Burger</h1>

    <table>
        <tr>
            <th>Id</th>
            <td>{{ burger.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ burger.name }}</td>
        </tr>
        <tr>
            <th>Summary</th>
            <td>{{ burger.summary }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ burger.price }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ burger.description }}</td>
        </tr>
        <tr>
            <th>Ingredients</th>
            <td>{{ burger.ingredients }}</td>
        </tr>
        <tr>
            <th>Photo</th>
            <td>{{ burger.photo }}</td>
        </tr>
        <tr>
            <th>Public</th>
            <td>{{ burger.public ? 'Yes' : 'No' }}</td>
        </tr>

        <tr>
            <th>Creator</th>
            <td>{{ burger.user.username }}</td>

        </tr>


    </table>

    <a href="{{ path('burger_con_index') }}">back to list</a>

    <a href="{{ path('burger_con_edit', {'id': burger.id}) }}">edit</a>

    {% include 'burger_con/_delete_form.html.twig' with {'identifier': burger.id} only %}

{% endblock %}